:root {
    --bg-color: #fff;
    --bg-secondary-color: #f3f3f6;
    --color-primary: #474c88;
    --color-hover: #6369a7;
    --color-lightGrey: #d2d6dd;
    --color-grey: #747681;
    --color-darkGrey: #3f4144;
    --color-error: #d43939;
    --color-danger: #f80606;
    --color-success: #28bd14;
    --grid-maxWidth: 120rem;
    --grid-gutter: 2rem;
    --font-size: 1.6rem;
    --font-color: #747681;
    --font-reverse-color: #d2d6dd;
    --font-family-sans: -apple-system, "BlinkMacSystemFont", "Avenir",
      "Avenir Next", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
      "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
  }
  body{
    display: flex;
    width: 100%;
    place-content: center;
    vertical-align: top;
    }


  .danger {
    color: var(--color-danger);
    cursor: pointer;
    text-decoration: underline;
  }

  input[type=submit], 
  input[type=file]::file-selector-button,
  input[type=button],
  button.bfooter,
  button.reboot {
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline-color: var(--color-darkGrey);
    color: var(--font-reverse-color);
    background-color: var(--color-primary);
    border: color(var(--color-darkGrey));
    border-radius: 5px;
    box-shadow: 0 4px #999;
  }
  
  input[type=submit]:hover, 
  input[type=file]::file-selector-button:hover,
  input[type=button]:hover,
  button.bfooter:hover,
  button.reboot:hover {background-color: var(--color-hover)}
  
  input[type=submit]:active, 
  input[type=file]::file-selector-button:active,
  button.bfooter:active {
    background-color: var(--color-hover);
    box-shadow: 0 2px #666;
    transform: translateY(4px);
  }

  button.bfooterDisabled {
    background-color: var(--color-grey);
    color: var(--color-darkGrey);
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    outline-color: var(--color-darkGrey);
    border: color(var(--color-darkGrey));
    border-radius: 5px;
    box-shadow: 0 4px #999;
  }

  table.main {
    width: auto;
  }

  th.main {
    color: var(--font-reverse-color);
    background-color: var(--color-primary);
    height: auto;
    text-align: center;
    column-span: all;
    vertical-align: bottom;
    padding: 10px 10px 0px 10px;
  }

  td.margin {
    width: 25px;
  }

  td.footer {
    text-align: center;
    column-span: all;
  }

  header {
    grid-area: header;
    background-color: var(--color-primary);
    color: var(--font-reverse-color);
    padding: 10px;
    font-weight: bold;
    font-size: larger;
    text-align: center;
  }
  main {
    grid-area: content;
    background-color: var(--bg-color);
    padding: 10px;
    max-height: 70vh;
    scroll-behavior: auto;
    overflow: auto;
  }
  aside {
    grid-area: sidebar;
    background-color: var(--bg-color);
    padding: 5px;
    background-color: var(--color-primary);
    color: var(--font-reverse-color);
  }
  footer {
    grid-area: footer;
    padding: 0px;
    min-height: 40px;
    grid-area: footer;
    background-color: var(--bg-color);
    text-align: center;
  }
  .wrapper {
    max-width: 100%;
    margin-bottom: 100%;
    place-self: center;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "header  header"
      "sidebar content"
      "footer  footer";
  }

  @media (min-width: 1025px) {
    .wrapper {max-width: 60%;}
  }
  @media (max-width: 500px) {
   .wrapper {
      grid-template-columns: 4fr;
     grid-template-areas:
        "header"
        "content"
        "sidebar"
        "footer";
   }
  } 

  hIcon {
    grid-area: hIcon;
    float: left;
    vertical-align: middle;
  }
  hTitle {
    grid-area: hTitle;
    text-align: center;
    font-size: xx-large;
    vertical-align: middle;
  }
  logoutIcon{
    grid-area: logoutIcon;
    float: right;
    margin: 0;
    padding: 0;
  }
  logoutIcon > img:hover{
    cursor: pointer;
  }

  .headerGrid {
    place-self: center;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 3fr 9fr 1fr;
    grid-template-areas:
      "hIcon  hTitle logoutIcon";
  }

  .weatherIcon {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--color-hover);
    border-radius: 5px;
  }

  .weatherDesc {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }

  .locName, .locCoord, .queryLocName {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
  }

  .locName {
    font-weight: bold;
    font-size: larger;
  }

  .queryLocName {
    font-size: smaller;
  }

  wReadingTerm {
    grid-area: wReadingTerm;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  wReadingValue {
    grid-area: wReadingValue;
    text-align: right;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .wReading {
    max-width: 200px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    grid-gap: 5px;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "wReadingTerm  wReadingValue";
  }

  hr.footerThr {
    border-top: 2px solid var(--color-primary);
    margin-top: 0px;
  }

  hr.footerBhr {
    border-bottom: 3px double var(--color-primary);
  }

  hr.confighr {
    border-bottom: 1px solid var(--color-lightGrey);
    margin: 0px;
    padding: 0px;
  }

  .atribution {
    color: var(--color-grey);
  }


  input[type=file] {
    height: 35px;
  }

  dbItem {
    grid-area: dbItem;
    text-align: right;
    font-weight: bold;
    vertical-align: bottom;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  dbValue {
    grid-area: dbValue;
    text-align: left;
    vertical-align: bottom;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  dbAction {
    grid-area: dbAction;
    text-align: center;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .dashboard {
    display: grid;
    vertical-align: bottom;
    padding-left: 0px;
    margin-left: 0;
    height: auto;
    margin-top: 2px;
    margin-bottom: 2px;
    grid-gap: 5px;
    grid-template-columns: 3fr 2fr 2fr;
    grid-template-areas:
      "dbItem  dbValue dbAction"; 
  }

  .reading {
    text-align: right;
    max-width: 50px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .setting {
    text-align: left;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  configItem {
    grid-area: configItem;
    text-align: right;
    font-weight: bold;
    vertical-align: bottom;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  configValue {
    grid-area: configValue;
    text-align: left;
    vertical-align: bottom;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  configComment {
    grid-area: configComment;
    text-align: left;
    vertical-align: bottom;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  configAction {
    grid-area: configAction;
    text-align: center;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .config {
    max-width: 100%;
    margin-bottom: 100%;
    place-self: center;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "content"
      "footer";
  }

  @media (min-width: 1025px) {
    .config {max-width: 60%}
  }

  .configline {
    display: grid;
    border: 1px solid var(--color-lightGrey);
    vertical-align: bottom;
    padding-left: 0px;
    margin-left: 0;
    height: auto;
    margin-top: 2px;
    margin-bottom: 2px;
    grid-gap: 5px;
    grid-template-columns: 3fr 3fr 2fr 1fr;
    grid-template-areas:
      "configItem  configValue configComment configAction"; 
  }

  .urlconfig {
    display: grid;
    border: 1px solid var(--color-lightGrey);
    vertical-align: bottom;
    padding-left: 0px;
    margin-left: 0;
    height: auto;
    margin-top: 2px;
    margin-bottom: 2px;
    grid-gap: 5px;
    grid-template-columns: 3fr 3fr 2fr 1fr;
    grid-template-areas:
      "configItem  configValue configValue configValue"
      ". configComment configComment configAction"; 
  }


  .cSetting, .cReadiing {
    text-align: left;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .cReading > select, .cReading > input {
    margin: 0px;
    padding: 0px;
    width: 180px;
    border-color: var(--color-lightGrey);
    border-width: 1px;
    outline-offset: 1px;
    outline-color: #6369a7;
    box-shadow: none;
  }

  .cReading.url >  input {
    width: 395px;
  }

  button.cButton {
    max-height: 25px;
    float: right;
    margin-right: 2px;
  }

  ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    display: inline;
  }

  button.cButton.hidden {
    display: none;
  }

  .cReadiing > input[type=url] {
    width: 200px;
  }

  .cReadiing > input[type=number] {
    width: 50px;
  }

  .cReadiing > select {
    width: 50px;
  }

  /* Center the loader */
  #loader {
    position: absolute;
    left: 50vw;
    top: 30vh;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid var(--color-lightGrey);
    border-radius: 50%;
    border-top: 16px solid var(--color-primary);
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  fileItem {
    grid-area: fileItem;
    text-align: right;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  fileAction1 {
    grid-area: fileAction1;
    text-align: center;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  fileAction2 {
    grid-area: fileAction2;
    text-align: center;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .filelist {
    display: grid;
    border: 1px solid var(--color-lightGrey);
    vertical-align: bottom;
    padding-left: 0px;
    margin-left: 0;
    height: auto;
    margin-top: 2px;
    margin-bottom: 2px;
    grid-gap: 5px;
    grid-template-columns: 3fr 1fr 1fr 2fr;
    grid-template-areas:
      "fileItem fileAction1 fileAction2 ."; 
  }